body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .header__logo .logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .header__nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }
  
  .header__nav a {
    text-decoration: none;
    color: #333;
  }
  
  .header__actions {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .header__logo{
    display: flex;
    align-items: center;
  }
  .cart-icon img {
    height: 24px;
  }
  
  .header__burger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
  }
  
  .header__burger span {
    width: 24px;
    height: 2px;
    background-color: #333;
  }
  
  @media (max-width: 768px) {
    .header__nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding: 1rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    .header__nav.active {
      display: flex;
    }
  
    .header__burger {
      display: flex;
    }
  }
  .corzina{
height: 24px;
  }
  .mebel{
    color: #FFAD4C;
    margin-right: 5px;
  }
  ul,li{
Padding: 0;
  }

 
  
  .phoro {
    width: 700px;
    height: 650px;
  }
  
  .button {
    background-color: #9A99D4;
    color: black;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: auto; /* Прижимаем кнопку к нижней части */
    align-self: flex-start; /* Выравниваем кнопку по левому краю */
  }
  
  .pd {
    margin-top: 30px;
    font-weight: bold;
  }
  .vtoroe2 {
    background-color: #2a254b;
    color: #ffff;
    justify-content: space-between;
    display: flex;
    margin-bottom: 120px;
    width: 100%;
  
  }
  
.vtoroe3 {
  margin-left: 60px;
  margin-right: 98px;
}
.gapq {
  justify-content: space-between;
  margin-bottom: 41px;
  margin-top: 60px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
.gf{
  width: 520px;
  height: 584px;
}
.a2 {
  background-color: rgba(249, 249, 249, 0.15);
  padding: 16px;
  text-decoration: none;
  color: #fff;
}
.pa{
  margin-top: 50px;
}
.vtoroe {
margin-top: 80px
}